.dropdown-content {
    display: none;
    position: absolute;
}

.dowpdown-content-item {
    float: none;
    display: block;
    text-align: left;
    font-size: 1em;
    text-decoration: none;
}

.dowpdown-content-item:hover {
    background: lightskyblue;
}

.dropdown {
    overflow: hidden;
}

.dropdown:hover .dropdown-content {
    display: block;
}