.part_3{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/build.jpeg);
    background-size: 100% 200px;
    position: relative;
}

#part_3_content{
    display: block;
    position: absolute;
    top: 20%;
    left: 41%;
}

#part_3_head_1{
    color: white;
}

#part_3_head_2{
    color: white;
}

.part_3_link{
    text-decoration: none;
    color: white;
}