.part_11 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    background: black;
    color: white;
}

.part_11_section_1 {
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    justify-content: space-around;
}

.section_1_div_1 {
    display: inline-block;
    margin-top: 5%;
}

.section_1_div_2 {
    display: inline-block;
    margin-top: 5%;
}

.section_1_div_3 {
    display: inline-block;
    margin-top: 5%;
}

.part_11_link {
    text-decoration: none;
    color: white;
}

.part_11_link:hover {
    color: rgb(98, 87, 87);
}

.part_11_ul {
    list-style: none;
}

.part_11_ul_head {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}

.part_11_ul_item {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}

.part_11_ul_item_social_media {
    display: inline-block;
    color: rgb(255, 255, 255);
}

.social_media_link {
    color: white;
    font-size: 20px;
    text-align: center;
    background: blue;
    padding: 5px;
    margin-left: -10px;
}

#social_media {
    margin-top: 20px;
}

#facebook {
    display: inline;
    background: inherit;
    padding: 10px;
    border-radius: 50em;
}

#twitter {
    display: inline;
    background: inherit;
    padding: 10px;
    border-radius: 50em;
}

#google_plus {
    display: inline;
    background: inherit;
    padding: 10px;
    border-radius: 50em;
}

#youtube {
    display: inline;
    background: inherit;
    padding: 10px;
    border-radius: 50em;
}

#instagram {
    display: inline;
    background: inherit;
    padding: 10px;
    border-radius: 50em;
}

.part_11_form {
    background: white;
    display: inline-block;
    padding: 10px;
    border-radius: 30px;
}

#part_11_form_input {
    border: none;
    outline: none;
    font-size: 20px;
}

#part_11_form_button {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    background: rgb(168, 33, 56);
}

#part_11_divide_line {
    width: 100%;
    background: rgb(133, 124, 124);
}

.part_11_section_2 {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 4em;
    margin-right: 4em;
    display: flex;
    justify-content: center;
}

.part_11_logo {
    display: inline;
    margin-top: 1em;
    margin-bottom: 1.2em;
    border-radius: 10px;
    height: 40px;
}